---

- name: Facts | retrieve current machine ip
  ansible.builtin.setup:
    gather_subset:
      - network
  register: freeipa_server_current_host_facts
  delegate_facts: true

- name: Facts | debug network facts
  ansible.builtin.debug:
    var: freeipa_server_current_host_facts
    verbosity: 2

- name: Facts | debug preferred_nic
  ansible.builtin.debug:
    var: preferred_nic
    verbosity: 3

- name: Facts | retrieve current hostname
  ansible.builtin.command: "hostname"
  changed_when: False
  register: freeipa_server_current_hostname

- name: Facts | set IDM facts
  ansible.builtin.set_fact:
    freeipa_server_exposed_nic: "{{ preferred_nic | default(freeipa_server_current_host_facts.ansible_facts.ansible_default_ipv4.interface) }}"
    freeipa_server_hostname: "{{ hostname if hostname is defined and hostname.endswith(company_domain) else hostname + '.' + company_domain if hostname is defined else freeipa_server_current_hostname.stdout if freeipa_server_current_hostname.stdout.endswith(company_domain) else idm_server_default_domain_prefix + '.' + company_domain }}"
    freeipa_server_exposed_ip: "{{ freeipa_server_current_host_facts.ansible_facts['ansible_' + freeipa_server_exposed_nic | replace('-', '_')].ipv4.address if freeipa_server_exposed_nic is defined else freeipa_server_current_host_facts.ansible_facts.ansible_default_ipv4.address | default(freeipa_server_current_host_facts.ansible_facts.ansible_all_ipv4_addresses | first) }}"
    cacheable: yes

- name: Facts | IDM preferred_nic
  ansible.builtin.debug:
    msg: "{{ freeipa_server_exposed_nic }}"

- name: Facts | IDM IP
  ansible.builtin.debug:
    msg: "{{ freeipa_server_exposed_ip }}"

- name: Facts | IDM hostname
  ansible.builtin.debug:
    msg: "{{ freeipa_server_hostname }}"
