---
# tasks file for ansible-users

- name: Requirements
  ansible.builtin.import_tasks: requirements.yml
  when:
    - standalone_role

- name: Packages
  ansible.builtin.import_tasks: prereq.yml

- name: Facts
  ansible.builtin.import_tasks: facts.yml
#  when: idm_group | default("") | string in group_names

- name: Idm server
  ansible.builtin.include_tasks: freeipa-server.yml
