[defaults]
remote_tmp = /var/tmp/ansible-remote
# collections_paths should include the role's community-collections directory
# as well as fallbacks in case deployed environments have different structures
collections_paths = ./ansible_collections:../community-collections:~/.ansible/collections:/usr/share/ansible/collections

[ssh_connection]
pipelining = True


